<input type="text" value="Static Value">
{{dynValue}}

<input type="text" value="{{dynValue}}">

<h5>Property Binding</h5>
<input type="text" [value]="dynValue"> <!-- {{ }} not required -->

<h5>On Directive</h5>
<p [ngClass]="blue">Styling this -- will not work</p>
<p [ngClass]="'blue'">Styling this -- will work, if it is wrapped inside another single/double quote</p>
<p [ngClass]="{ blue: true }">Styling this thru js expression - look at single curly brace. It is js expression</p>
<p [ngClass]="{ blue: shouldApply() }">Styling this thru JS method</p>
